{
  "presets": [["env", {
    "modules": false,
    "targets": {
      "browsers": [
        "> 0.1%",
        "not ie < 11"
      ]
    }
  }], "react"],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "PACKAGE_NAME",
        "PACKAGE_VERSION"
      ]
    }],
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "dynamic-import-node"
  ]
}
